node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.DS_Store
android/app/build/
android/.gradle/
android/build/
local.properties
ios/Pods/
ios/build/
.metro-health-check*
.idea/
.vscode/
